BeautifulSoup==3.2.1
blinker==1.4
cairocffi==0.7.1
CairoSVG==1.0.15
cffi==1.1.2
click==4.1
cssselect==0.9.1
decorator==4.0.2
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Mail==0.9.1
Flask-WeasyPrint==0.5
Flask-WTF==0.12
geocode==0.1.0
geocoder==1.4.0
geomag==0.9.2015
geopy==1.10.0
html5lib==0.999999
itsdangerous==0.24
Jinja2==2.8
LatLon==1.0.2
lxml==3.4.4
MarkupSafe==0.23
mimerender==0.5.5
Pillow==2.9.0
pycparser==2.14
PyPDF2==1.25.1
Pyphen==0.9.1
pyproj==1.9.4
python-mimeparse==0.1.4
ratelim==0.1.6
reportlab==3.2.0
requests==2.7.0
simplejson==3.8.0
six==1.9.0
tinycss==0.3
Werkzeug==0.10.4
wheel==0.24.0
WTForms==2.0.2
xhtml2pdf==0.0.6
