<!DOCTYPE html>
<html>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VFR Flight Planner</title>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-35360592-2', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- http://www.dynamicdrive.com/forums/showthread.php?60374-Dynamically-hide-show-portion-of-HTML-when-checkbox-is-selected -->
        <script type="text/javascript">
            var checkDisplay = function(check, form) { //check ID, form ID
                form = document.getElementById(form), check = document.getElementById(check);
                check.onclick = function(){
                    form.style.display = (this.checked) ? "block" : "none";
                };
                check.onclick();
            };
        </script>
    </head>
    <body>
        <script src="//fast.eager.io/LkRamv2Dag.js"></script> <!-- page loading -->
        <br>
        <center> 
            <font color="#4B8AB9" size="50">
                <big>
                    VFR FLIGHT PLANNER
                </big>
            </font>
        </center>
        
        <div id="loading">
            <br>
            <div class="centered">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner h3" role="listbox">
                        <div class="item active">
                            checking your cruising altitude
                        </div>
                        <div class="item">
                            creating elevation plot
                        </div>
                        <div class="item">
                            selecting easy to spot waypoints
                        </div>
                        <div class="item">
                            getting winds aloft
                        </div>
                        <div class="item">
                            adding your climb and descent 
                        </div>
                        <div class="item">
                            creating interactive map
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <form action="/fplanner" method="post" role="form">
                <div class="vertical-center">
                    <div class="container">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">{{ form.orig.label }}</label>
                            <div class="col-sm-10">
                                {{ form.orig (class_="form-control") }}
                            </div>
                            <label class="control-label col-sm-2" for="name">{{ form.dest.label }}</label>
                            <div class="col-sm-10">
                                {{ form.dest (class_="form-control") }}
                            </div>
                            <label class="control-label col-sm-2" for="name">{{ form.speed.label }}</label>
                            <div class="col-sm-10">
                                {{ form.speed (class_="form-control") }}
                            </div>
                            <label class="control-label col-sm-2" for="name">{{ form.alt.label }}</label>
                            <div class="col-sm-10">
                                {{ form.alt (class_="form-control") }}
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    Show Aircraft Information <input type="checkbox" id="check">
                </div>
                <div class="container" id="airplane">
                    <div class="col-sm-10">
                        <br>
                        <div id="showform">
                            <label class="control-label col-sm-2" for="name">{{ form.plane_type.label }}</label>
                            <div class="col-sm-10">
                                {{ form.plane_type (class_="form-control") }}
                                <br>
                                <div class="col-sm-5">
                                    {{ form.empty_weight.label }}
                                    {{ form.empty_weight (class_="form-control") }}
    
                                    {{ form.fuel_lbs.label }}
                                    {{ form.fuel_lbs (class_="form-control") }}
    
                                    {{ form.pax1_lbs.label }}
                                    {{ form.pax1_lbs (class_="form-control") }}
    
                                    {{ form.pax2_lbs.label }}
                                    {{ form.pax2_lbs (class_="form-control") }}
    
                                    {{ form.bag1_lbs.label }}
                                    {{ form.bag1_lbs (class_="form-control") }}
    
                                    {{ form.bag2_lbs.label }}
                                    {{ form.bag2_lbs (class_="form-control") }}
                                </div>  
                                <div class="col-sm-5">
                                    {{ form.weight_arm.label }}
                                    {{ form.weight_arm (class_="form-control") }}
    
                                    {{ form.fuel_arm.label }}
                                    {{ form.fuel_arm (class_="form-control") }}
    
                                    {{ form.pax1_arm.label }}
                                    {{ form.pax1_arm (class_="form-control") }}
    
                                    {{ form.pax2_arm.label }}
                                    {{ form.pax2_arm (class_="form-control") }}
    
                                    {{ form.bag1_arm.label }}
                                    {{ form.bag1_arm (class_="form-control") }}
    
                                    {{ form.bag2_arm.label }}
                                    {{ form.bag2_arm (class_="form-control") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <input type="submit" class="btn btn-primary" style="border-radius:5px" value="Calculate Route" onclick="loading();">
                    </div>
    
                    <script type="text/javascript">
                        checkDisplay("check", "showform");
                    </script>
                </div>
            </form>
        </div>
    </body>
    <footer>
        <script type="text/javascript">
            function loading(){
                $("#loading").show();
                $("#content").hide();  
                $('#myCarousel').carousel(0);     
            }
        </script>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- http://stackoverflow.com/questions/20840018/bootstrap-3-carousel-transition-speed -->                      
</html>