<html>
    <head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <!-- Route PDF button on mobile devices --> 
    <span id="buttons">&nbsp;</span>
    <script>
        if (screen.width < 900) {
            console.log("Screen less than 900px")
            var routebtn = document.createElement('BUTTON');
            routebtn.innerHTML = 'Save PDF of Route';
            routebtn.onclick = function(){
                window.location.href = "/saveplan"
            }; 
            var buttons = document.getElementById("buttons");
            buttons.appendChild(routebtn)
        }
    </script>

    <!-- message alert section -->
    {% if showMsgs %} 
        {% for msg in messages %}
            <div class="alert alert-danger fade in" style="width:100%">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Please note: </strong> {{ msg }}
            </div>            
        {% endfor %} 
    {% endif %} 
    <!-- message alert section end -->

    <body>
        <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_a" data-toggle="tab">Route Map</a></li>
            <li><a href="#elevation" data-toggle="tab">Elevation Map and Weather</a></li>
            <li><a href="#waypoints" data-toggle="tab">Waypoint List and Route Changes</a></li>
            <li><a href="#freqs" data-toggle="tab">Trip Frequencies</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_a">
                {{ map }}
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="tab-pane" id="elevation">
                <br>
                <img src="{{ elevation }}" alt="Elevation Map">
                <br>
                <br>
                <div class="container">
                    <small>
                        <b>Please note:</b> this map includes elevation data taken at specified intervals during the route and does not include towers or other obstructions. The pilot must be prepared at all times to change altitude in response to elevation changes. 
                    </small>
                </div>
                {% if zipcode == "" %}
                {% else %}
                    <br>
                    <br>
                    <a href="http://www.tephigram.weather.net/cgi-bin/razradar.cgi?zipcode={{zipcode}}&amp;width=500&amp;height=200" target="main">
                        <img border="0" dynsrc="http://www.tephigram.weather.net/cgi-bin/razradar.cgi?zipcode={{zipcode}}&amp;width=500&amp;height=250" start="fileopen" src="http://www.tephigram.weather.net/cgi-bin/razradar.cgi?zipcode={{zipcode}}&amp;width=500&amp;height=200">
                    </a>
                {% endif %}
            </div>
            <div class="tab-pane" id="waypoints">
                <br>
                <div class="container">
                    <style>
                        th, td {
                            padding: 7px
                        }
                        input{ 
                            height:100%; 
                            display:inline-block;
                            position:relative;
                        }
                    </style>

                    To change a waypoint, type in a new airport or location name in the input box in the 'to' column of a leg. 
                    <br>
                    <br>

                    <table border='1' style="width:50%;" cellpadding="10">
                        <tr>
                            <td> Leg (from) </td>
                            <td> Leg (to) </td>
                            <td> Length (nm) </td>
                            <td> Altitude (feet)</td>
                            <td> True Airspeed </td>
                            <td> Groundspeed (kts) </td>
                            <td> Magnetic Heading (&deg;)</td>
                        </tr>
                    <!--<br>-->
                    {% 
                        for item in theRoute[:-1]
                    %}
                        {% if "TOC" in item.to_poi.name: %}
                            <tr>
                            {% for thing in item.getData() %}
                                    <td>{{ thing }}</td>
                            {% endfor %}
                            </tr>
                        {% else %} 
                            <tr>
                                <td> 
                                    {{ item.getData()[0] }}
                                </td>
                                {% set f = forms[item.num].place.process_data(item.getData()[1]) %}
                                {% set f = forms[item.num].num.process_data(item.num) %}
                                <td stype="padding:0;"> <!-- form here -->
                                    <form action="/update" method="post" role="form">
                                        {{ forms[item.num].hidden_tag() }}
                                        {{ forms[item.num].place() }}
                                    </form>
                                </td>

                                {% for thing in item.getData()[2:] %}
                                    <td>{{ thing }}</td>
                                {% endfor %}
                            </tr>
                        {% 
                            endif
                        %}
                    {% 
                        endfor
                    %}
                        <tr>
                    {% for thing in theRoute[-1].getData() %} 
                            <td>{{ thing }}</td>
                    {% endfor %}
                        </tr>
                    </table>
                    <br><br><br>
                </div>
            </div>
            <div class="tab-pane" id="freqs">
                <br>
                <table border='1' style="width:50%;" cellpadding="10">
                        <tr>
                            <td><b>Airport Identification</b></td>
                            <td><b>Type</b></td>
                            <td><b>Identification</b></td>
                            <td><b>Frequency</b></td>
                        </tr>
                    {% for thing in freqs %}
                        <tr>   
                            {% for freq in thing %}
                                <td> {{ freq }} </td>
                            {% endfor %} 
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <br>
                <br>
            </div>
        </div>
        </div>
    </body>

    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse" id="footer-body">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/saveplan">Download PDF of Route, Weather, and Frequencies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</html>