<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="/static/dist/css/select2.min.css" rel="stylesheet" />
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/dist/js/select2.min.js"></script>

        <link href="/static/dist/css/select2.min.css" rel="stylesheet"/>
        <script src="/static/dist/js/select2.min.js"></script>

        <title>VFR Flight Planner</title>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-35360592-2', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- selec2 text boxes -->
        <script type="text/javascript">
            $('select').select2();
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
            $(".js-example-basic-single").select2();
            });
        </script>
    </head>

    <body>
        <!-- Loading bar and background video (?) - in progress. -->
        <!--<script src="//fast.eager.io/LkRamv2Dag.js"></script>--> <!-- page loading -->
        <br>
        <div class="container">
            <h1>
                VFR FLIGHT PLANNER: <i> tutorial </i>
            </h1>
        </div>
        <hr>
        <div id="content">
            <!-- Tutorial goes here. -->
            <ol>
                <li>First, select a region for the origin of your flight. The NOAA has a map <a href="https://aviationweather.gov/products/nws/winds/">here</a> to show different regions. </li>
                <br>
                <li>Next, input the ICAO codes for your origin and destination airports. Various ICAO lookup sites are available online.</li>
                <li>Select an appropriate cruising speed, altitude, and your estimated climb distance. If you don't know this figure, your Top of Climb (TOC) will not be accurately displayed, but your route will still be calculated.</li>
                <li>If you would like to perform weight and balance calculations, enter each weight and moment arm into the given input boxes. Should you need more, click the 'add input' button.</li>
            </ol>
        </div>
    </body>
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse" id="footer-body">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <script src="/static/js/load.js"></script>
    </footer>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</html>

<!--© 2015. Protected under Creative Commons Attribution-NonCommercial License. -->